*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 12px;
    line-height: 24pt;
}
main{
    min-height: 100%;
}
ul{
    list-style-type: disc;
}
/* ---Start header--- */
header{
    height: 400 px;
    background-color: white ;
    font-size: 70px;
}
h1{
    padding: 24px 48px;
    color: black;
}

/* ---Start Navigation--- */
.navigation a{
    color: black;
}
.navigation ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    font-size: 24pt;
    align-content: space-around;
}
.navigation li{
    width: 33%;
    height: 48pt;
    text-align: center;
    padding: 6pt;
}
.present-page{
    background-color: rgba(0, 0, 0);
}
.present-page a{
    color: white;
}


/* ---Start Body--- */
h2{
    font: bolder;
    font-size: 18pt;
    padding:18pt;
}

h3{
    font-size: 16pt;
    padding: 12px;
}

/* ---Start Introduction--- */
.self-introduction{
    padding: 12px;
    text-align: center;
}

.education{
    padding: 24px 48px;
}

.technical{
    display: inline-block;
    border-radius: 2pt;
    border: 1px solid white;
    width: 30%;
    height: max-content;
    margin: 12px;
}
.technical li{
    list-style-type: none;
    padding: 6pt 12pt;
}

.portfolio{
    padding: 24px 48px;
}

.class-projects{
    padding: 24px 48px;
}
footer{
    background-color: black;
    color: white;
    font-size: small;
    text-align: center;
    bottom: 0;
}

@media only screen and (max-width: 400px) {
    h1{
        display: none;
    }
    /* ---Start Navigation--- */
    .navigation ul{
        font-size: 12pt;
    }
    .technical{
        display: block;
        border-radius: 2pt;
        border: 1px solid rgb(131, 130, 130);
        width: 70%;
        height: max-content;
        margin: 12px;
    }

}